* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: dodgerblue;
}

.link {
  color: white;
}

.link:hover {
  color: purple;
}
